html, body, div,p,center{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* В помощь стареющим*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
/*Стили для самой галереи*/
.b-gallery {
  position: relative;
  min-height: 100%;
  background: #222222;
  overflow: hidden;
}
.b-gallery__viewport {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.b-gallery__image {
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%,-50%); /*центруем котиков*/
  max-width: 100%;
  max-height: 100%;
}
/*Стили для стрелок*/
.b-gallery__arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  cursor: pointer;
}
.b-gallery__arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%); /*центруем стрелки*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 25px;
  border-color: transparent;
  content: '';
}
.b-gallery__arrow_right {
  right: 0;
}
.b-gallery__arrow_right::after {
  border-right-width: 0;
  border-left-color: #F0F0F0;
}
.b-gallery__arrow_left {
  left: 0;
}
.b-gallery__arrow_left::after {
  border-left-width: 0;
  border-right-color: #F0F0F0;
}
/*Стили для карусели*/
.b-gallery__preview {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  background: #000000;
  text-align: center;

}
.b-gallery__preview-item {
  display: inline-block;
  padding: 10px 5px;
}
.b-gallery__preview-image {
  display: block;
  height: 100px;
  border: 2px solid transparent;
  cursor: pointer;
}